.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 430px;
}
.menu{
    margin-top:1em;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menu button{
    border: none;
    background: none;
    margin: 5px;
}

.menu button:hover{
    background-color: burlywood;
    transition:1s;
}

.area-input{
  display:none;
}

.search-area{
  margin-top:20px;
}

.search-icon{
  border:0px;
  background:transparent;
}

.go-button{
  border:0px;
  border-radius:5px;
  background-color:bisque;
}

.news-img-size{
    max-width:100%;
    max-height:250px;
    margin-top:1em;
    margin-bottom:1em;
}

.news{
    border-bottom: 1.5px solid black;
}

h2{
    margin-top:1em;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
    transition: 1s;
  }

  .fa-bars{
    text-align: center;
    border:0px;
    font-size:20px;
    display: none;
  }

  .listButton{
    margin-left:5vw;
    position:absolute;
    top:10hw;
    background-color: transparent;
    border:0px;
  }

  .pagination{
    justify-content: center;
  }

  .pagination:hover{
    cursor: pointer;
  }

  @media screen and (max-width: 63rem){
    .menu{
        display: none;
    }
    .fa-bars{
      display: inline;
    }
    .search-area{
      margin-left:12vw;
    }
  }
